.place-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-left: -22px;
}
#place{
    padding:100px 0  ;
    position: relative;
}

.place-text  span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 20px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.81);
    font-size: 20px;
    margin: 20px 0 ;
}
.place-list {
    list-style-type: disc;
    color: #FFFFFF;
    font-size: 24px;

}
.place-list1{
    padding: 100px 0 ;
}
.place-list1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    margin-left: -22px;
    color: #FFFFFF;
    border-left: 10px solid white;
    padding: 0 20px;

}
.place-list li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.81);
    font-size: 20px;
    margin: 20px 20px;
}
.place1{
    position: absolute;
    top: 170px;
    left: 400px;
    z-index: -99;
    filter: blur(3px);

}
.place2{
    position: absolute;
    top: 553px;
    left: 1142px;
    z-index: -99;

}
.place3{
    position: absolute;
    top: 1600px;
    left: 1002px;
}

.place4{
    position: absolute;
    top: 1700px;
    left: 252px;
}
.place5{
    position: absolute;
    left: 0;
    bottom: 80px;
}
.place6{
    position: absolute;
    left: 760px;
    bottom: 130px;
}
