@mixin btn{
  border: 1px solid white;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Roboto',sans-serif;
  //width: 15%;

}
@mixin tab{
  border: 1px solid white;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  font-family: 'Roboto',sans-serif;
}