@import "mixin";

body {
  margin: 0 auto;
}

#tabs {
  margin-top: 100px;
}

.tab--global__all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  padding: 6px;
  cursor: pointer;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  @include tab;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  background: #fff;
  color: #595FEB;
}

.tabs--img h5 {
  width: 285px;
  height: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  padding: 25px 0;
}

.tabs--img {
  border: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__img--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
}

.tabs__img--top h6 {
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  width: 148px;
  height: 20px;
  color: #FFFFFF;
}

.tabs__img--top button {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 5px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  @include btn;
}

.tabs__baby {
  position: relative;
  z-index: -10;
}

.buttonTabs {
  width: 181px;
  height: 46px;
  border-radius: 10px;
  @include btn;
}

.tabs--tab {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tabs--img__right{
  margin-bottom: -20px;
}

