.but-block h3{
  padding: 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.but-block p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
#but{
  position: relative;
}
.but1{
  position: absolute;
  bottom: 70px;
  left: 350px;
  filter: blur(5px);
}
.but2{
  position: absolute;
  right: 0;
}