.accordion{
  width: 920px;
  margin-left:85px;
  position: relative;

.item{
  margin-bottom: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.lemon h1{
  border-left: 5px solid white;

}
}
.apple{
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
align-items: center;
  cursor: pointer;

}
.apple h3{
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 152px;
  height: 49px;
  text-align:center;
  padding-top:8px ;
}
.apple h2{
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 19px;
}
.apple button{
  width: 148px;
  height: 49px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #595FEB;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}
.apple h4{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 16px;
  //margin-top: 15px;
  margin-bottom: -0.5rem;
  margin-top: 10px;
}
.apple span{
  font-size: 36px;
}
.content{
  max-height: 0;

  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content h5{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;

}
.content p{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  z-index: 9999;

}
.content-all{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.good {
  position: absolute;
  top: 60px ;
  margin-left: 200px;
  filter: blur(2px);

}
.good1 {
  position: absolute;
  bottom: -10px ;
  margin-left: 755px;

}