#nothing {
  .nothing--text {
    color: #FFFFFF;
    h3,h2 ,h4,h1,h5,h6,p{
      font-family: 'Montserrat', sans-serif;
    }
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
    }
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      margin: 20px 0;
    }
    p{
      margin: 20px 0 40px 0;
    }
  }
  .nothing--all {
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 900px;
    margin-left: 100px;

    &__left {
      display: flex;
      align-content: center;
      flex-direction: column;
      border-radius: 13px;
      width: 303px;
      height: 646px;
      border: 1px solid #FFFFFF;
      background: rgba(255, 255, 255, 0.2);
      h4, h6, h2, h4 {
        font-family: 'Montserrat', sans-serif;
        margin-left: 5px;
      }
.nothing--all__right{
  margin: 30px 30px -10px 30px;

}
      h4 {
        font-size: 30.3405px;
      }

      h6 {
        font-size: 17.6986px;
      }

      h2 {
        font-size: 17.6986px;
        line-height: 22px;
        display: flex;
        align-items: flex-start;
      }

      button {
        border: 2px solid #FFFFFF;
        border-radius: 13px;
        background: transparent;
        width: 263px;
        height: 60px;
        margin-right: -20px  ;
      }
      h4 {
        font-size: 30.3405px;
      }
      .ordinary {
        display: flex;
        align-items: flex-start;
        margin: 10px 0;

        &--span {
          display: flex;
          align-items: flex-start;
        }

        .round-checkbox {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          outline: none;
          transition: background-color 0.2s;
          background-color: transparent; /* Добавлено */
        }
        .round-checkbox:checked {
          background-color: #FFFFFF;
        }
        .round-checkbox-transparent {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          outline: none;
          transition: background-color 0.2s;
          background-color: transparent;
        }
        .round-checkbox-transparent:checked {
          background-color: #FFFFFF;
        }
      }
      .baby--btn {

        margin: 300px 0 0 20px ;
      }

    }
    .second--all:hover{
      transform: scale(1.1);

      //width: 303px;
      //height: 578px;
    }
    .second--all{
      transition: .4s;
    }


    .second{
      display: flex;
      align-content: center;
      flex-direction: column;
      border-radius: 13px;
      width: 268px;
      height: 100%;
      border: 1px solid #DFAC4D;
      background: rgba(255, 255, 255, 0.2);

      h4,h6,h2,h5{
        color: rgba(255, 255, 255, 0.6);
        margin-left: 5px;
      }
      &--all{
        margin: 30px;

        .round-checkbox {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          outline: none;
          transition: background-color 0.2s;
          background-color: transparent; /* Добавлено */
        }
        .round-checkbox:checked {
          background-color: #FFFFFF;
        }
        .round-checkbox-transparent {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          outline: none;
          transition: background-color 0.2s;
          background-color: transparent;
        }
        .round-checkbox-transparent:checked {
          background-color: #FFFFFF;
        }
        .second--baby{
display: flex;
          align-items: flex-start;

        }

      }
      h4{
        font-size: 26.771px;
      }
      h6{
        font-size: 15.6164px;
      }
      h2{
        font-size: 15.6164px;
      }
      h5{
        font-size: 26.771px;
        margin: 0 0 30px 0;
      }
      .aiOut{
        display: flex;
        align-items: flex-start;
      }
      .baby--btn{
        margin: 0 0 20px 20px ;
      }
      button{
        border: 2px solid #FFFFFF;
        border-radius: 13px;
        background: transparent;
        width: 223px;
        height: 60px;
      }
    }
  }
  .master{
    padding: 133px 0;
    p{
      font-size: 24px;
font-family: 'Montserrat', sans-serif ;
      color: #FFFFFF;
    }
    .master--all{
      .aiOut{
        display: flex;
        align-items: center;
        color: #FFFFFF;
        span{
          font-size: 20px;
          margin-right: 10px;
        }
        h2{
          font-family: 'Montserrat',sans-serif;
          font-size: 24px;
        }
      }
    }
  }
  .last{
    color: #FFFFFF;
    h1{
      font-family: 'Montserrat',sans-serif;
      font-weight: 600;
      font-size: 36px;
    }
    p{
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      font-size: 22px;
      margin:30px 0;
    }
  }
}
.cribe--level {

  &__just {

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      margin: 8px 0 -5px 0;
      letter-spacing: 0.5px;
    }

    &--column {
      display: flex;
      margin: 20px 0 50px 0;

      &__usual2:hover{
        transform: scale(110%);
        transition: .4s ease-in-out;
      }
      &__intensive2:hover{
        transform: scale(110%);
        transition: .4s ease-in-out;
      }
      &__usual2 {
        width: 245px;
        height: 523px;
        background: rgba(255, 255, 255, 0.2);
        border: 1.26419px solid #FFFFFF;
        backdrop-filter: blur(3.79256px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 13px;
        position: relative;
margin:  0 100px 0 0 !important;
        &--book1{
          position: absolute;
          left: -10px;
          top: 40%;
        }
        &--book2{
          position: absolute;
          left: 163.41px;
          top: 27px;
        }
        &--marge {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin: 0 0 0 21px;

          h1 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            color: #FFFFFF;
            margin: 7px 0 0 0;
            letter-spacing: 0.2px;

          }

          &__input {
            display: flex;
            align-items: flex-start;
            margin: 0 0 10px 0;

            h3 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.2px;
            }

          }

          &__input2 {
            display: flex;
            align-items: flex-start;
            margin: 0 0 20px 0;

            h5 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.2px;

            }
          }

          &__check1 {
            display: flex;
            align-items: flex-start;
            margin: 0 0 2px 0;

            .iconka1 {
              color: white;
              font-size: 16px;
              margin: 0 5px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.2px;
            }
          }

          &__check2 {
            display: flex;
            align-items: flex-start;
            margin: 0 0 195px 0;

            .iconka2 {
              color: white;
              font-size: 22px;
              margin: 0 5px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 17px;
              letter-spacing: 0.2px;

            }
          }

          h2 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 0.2px;

          }


        }
      }

      &__intensive2 {
        width: 245px;
        height: 523px;
        background: rgba(255, 255, 255, 0.2);
        border: 1.11546px solid rgba(223, 172, 77, 0.6);
        backdrop-filter: blur(3.34638px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 11px;

        &--marge {
          position: relative;
          margin: 0 0 0 21px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;


          h1 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            margin: 7px 0 0 0;
            letter-spacing: 0.2px;
          }

          &__input {
            display: flex;
            align-items: flex-start;
            margin: 0 0 10px 0;

            h3 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.2px;
            }

          }

          &__input2 {
            display: flex;
            align-items: flex-start;
            margin: 0 0 20px 0;

            h5 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.2px;

            }
          }

          &__check1 {
            display: flex;
            align-items: flex-start;
            margin: 0 0 2px 0;

            .iconka1 {
              color: white;
              font-size: 16px;
              margin: 0 3px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.2px;
            }
          }

          &__check2 {
            display: flex;
            align-items: flex-start;
            //margin: 0 0 214px 0;

            .iconka2 {
              color: white;
              font-size: 21px;
              margin: 0 3px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 17px;
              letter-spacing: 0.2px;

            }
          }

          &__check3 {
            display: flex;
            align-items: flex-start;
            //margin: 0 0 214px 0;

            .iconka3 {
              color: white;
              font-size: 15px;
              margin: 0 3px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 17px;
              letter-spacing: 0.2px;

            }
          }

          &__check4 {
            display: flex;
            align-items: flex-start;
            //margin: 0 0 214px 0;

            .iconka4 {
              color: white;
              font-size: 28px;
              margin: 0 3px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 17px;
              letter-spacing: 0.2px;

            }
          }

          &__check5 {
            display: flex;
            align-items: flex-start;
            //margin: 0 0 214px 0;

            .iconka5 {
              color: white;
              font-size: 21px;
              margin: 0 3px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 17px;
              letter-spacing: 0.2px;

            }
          }

          &__check6 {
            display: flex;
            align-items: flex-start;
            margin: 0 0 10px 0;

            .iconka6 {
              color: white;
              font-size: 20px;
              margin: 0 3px 0 0;
            }

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 17px;
              letter-spacing: 0.2px;

            }
          }

          &__coin {
            display: flex;
            align-items: flex-end;

            h2 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              color: #FFFFFF;
              letter-spacing: 0.2px;

            }


            h6 {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: #FFFFFF;
              text-decoration: line-through;
              padding: 0 0 2px 4px;
              letter-spacing: 0.2px;
            }
          }


        }
      }


    }

    &--agree {
      button{
        margin: 0 0 15px 0 ;
        width: 500px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #6363DF;
      }
      &__put{
        display: flex;
        align-items: flex-start;
        h3{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 300;
          font-size: 17px;
          color: #FFFFFF;

        }
      }
    }
  }
}
.checkbox-input {
  appearance: none;
  background: transparent;
  border: 1px solid white;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 5px 0 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;

  }

  &:checked:before {
    background-color: #ffffff;
  }
}

.checkbox-put {
  appearance: none;
  background: transparent;
  border: 1px solid white;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px 0 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;

  }

  &:checked:before {
    background-color: #ffffff;
  }
}

.checkbox-input2 {
  appearance: none;
  background: transparent;
  border: 1px solid white;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 5px 0 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;

  }

  &:checked:before {
    background-color: #ffffff;
  }
}
.error-message{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: red;
  font-weight: 400;
  margin: -10px 0 0 0;
}
.choose {
  width: 210px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #595FEB;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin: 10px 0 0 -6px;
  letter-spacing: 0.2px;
}
.choose1 {
  width: 210px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin: 10px 0 0 -6px;
  letter-spacing: 0.2px;
}
