#third{
  color: #FFFFFF;
  .third{

    h1{
      font-family: 'Montserrat',sans-serif;
      font-weight: 500;
      font-size: 44.4833px;
      line-height: 58px;
      text-align: center;
      width: 693px;
      height: 58px;
      margin-left:209px;
      top: 230px;
      letter-spacing: 0.3px;
    }
    h4{
      height: 49px;
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      font-size: 35px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 0.1px;

    }
    p{
      width: 1006px;
      height: 116px;
     margin-left: 61px;
      margin-bottom: 69px;
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
    }
  }
}
