* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

#paket {
    position: relative;
    margin: 100px 50px;
    width: 1140px;
    height: 500px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 50px 0 0 0 ;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*margin-left: 60px;*/
}
.oki2{
    margin-left: 920px;
    margin-top: -75px;
}
.oki4{
    margin-left: 1010px;
    margin-top: -910px;
}
.oksid  {
    position: absolute;
    margin-top: -470px;
    margin-left: 200px;
    z-index: 99;
}
.oki3{
    margin-top: -220px;
    margin-left: -82px;
}


.paket--text__btn2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: none;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    color: rgba(242, 255, 255, 0.78);
    padding: 10px 24px;
    margin: 10px 15px;

}
.line {
    width: 1080px;
    height: 1px;
    margin: 190px 70px 0 0;
    background: #D9D9D9;
    right: 80px;
}
.paket {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    margin-left: 60px;

}
.paket--img {
    margin: 0;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin: 10px 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 20px 0;

}

.paket--text__btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #595FEB;
    padding: 10px 24px;
    margin: 10px 0;
    border: none;

}


.books2 {
    position: absolute;
    bottom: 140px;
    right: 1200px;
}
