#header{
  position: sticky;
  width: 100%;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(0.7px);

  padding: 20px 0;
  z-index: 99;
  top: 0;
  border-bottom: 1px solid white;
  height: 110px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{
  margin-left: 28px;
}
.header-logo h1{
  font-style: normal;
  font-weight: 500;
  font-size: 14.8993px;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: -30px;
}
.header-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.header-icon{
  font-size: 25px;
  margin-right: 7px;
}

.Menu{
  display: none;
}

.burger{
  position: absolute;
  top: 77px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 300px;
  height: 400px;
  background: #1B2026;
}


li{
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s all ease;
}

li:hover{
  color: #cdcdcd;
  transition: 0.4s all ease;
}
li:after{
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}



@media (max-width: 920px) {
  .header-title {
    display: none;
  }
  .Menu{
    display: block;
  }

}
