.animate-card-image1 {
  transition: transform 1s ease;


}
.animate-card-image2 {
  transition: transform 1s ease;


}
.accordion-content{

}
.backdrop-blur-lg {
  overflow: hidden;
}
.card-image1.scale-150 {
  transform: scale(200%);
  position: absolute;


}
.accordion-content{
  transition: 0.5s ease;
}
.card-image2.scale-1502 {
  transform: scale(200%);
  position: absolute;
  top: 110px;
  rotate: 10deg;
}

.back{
  position: relative;
}
.back1{
  position: absolute;
  top: -430px;
  left: -75px;
}
.back3{
  position: absolute;
  top: 54px;
  left: 195px;
}

