
#footer {
  background: rgba(74, 76, 255, 0.42);
  border-top: 1px solid #FFFFFF;
  position: relative;
  padding: 0 0 60px 0 ;
}

.books {
  position: absolute;
  left: 865px;
  bottom: 1px;
  display: none;
}
.all{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: -40px;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  //text-align: start;
  margin-top: 50px;
  background: transparent;
  //margin: 0 5px;
  backdrop-filter: blur(10px);
  z-index: 2;
  margin-left: 30px;
}

.foot-title-img {
  margin: 0 0 0 21px;
}
.foot-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  position: absolute;
  margin-left: -50px;
}

.lang {
  display: flex;
  align-items: center;
  //margin: 65px 0;
  margin-top: 70px;
  margin-left: -50px;
}

.lang h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  transition: .2s;
  border-bottom: 2px solid white;
  margin-top: 7px;
}

.lang h2:hover {
  cursor: pointer;
}

.lang h2:active {
  transform: scale(1.1);
  color: gray;
  border-bottom: 2px solid gray;
  cursor: pointer;
}

.lang p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 10px;
  transition: .2s;
  border-bottom: 2px solid white;
}

.lang p:hover {
  cursor: pointer;
}

.lang p:active {
  transform: scale(1.0);
  color: gray;
  cursor: pointer;
  border-bottom: 2px solid gray;
}

.link {
  margin-bottom: 50px;
}

.line1 {
  width: 120px;
  height: 1px;
  background: linear-gradient(#DFAC4D, #310CAA);
  margin: 7px 0;
}

.link h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 0 7px 0;
}

.link a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  color: #FFFFFF;
  display: flex;
  margin: 15px 10px;
}

.ion {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.wifi h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 0 7px 0;

}

.icon {
  color: #FFFFFF;
  margin: 5px 7px;
  font-size: 20px;
}

.call h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 0 7px 0;

}

.call p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-start;
}

.icon2 {
  color: #FFFFFF;
  font-size: 18px;
}

.location h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;


}

.location p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-start;
}

.icon3 {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0 10px;
}

.logo3 {
  margin-left: 550px;
  position: absolute;
  margin-top: 20px;
}

.logo4 {
  position: absolute;
  left: 700px;
}
.location{
  margin-top: -13px;
  margin-left: 30px;
  width: 230px;
}




