#image {
    background: linear-gradient(100deg, #D78B59, #595FEB);
    padding: 100px 0;
}
.class{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}
h1{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin-left: 80px;
    margin-bottom: 30px;
}
.image1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 ;

}
.image1-block {
    margin: 0 10px;

    width: 400px;
    height: 430px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7.5px);
}
.image1-block h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 20px 0 10px 20px;
}
.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text div p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 20px;
}
.text button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 7px 5px;
    color: #FFFFFF;
    backdrop-filter: blur(7.5px);
    background: rgba(255, 255, 255, 0.02);


}
.btn {
    margin-right: 10px;
}
.image1-block img {
    margin: 0 23px;
    width: 300px;
}
.text2 a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 20px 20px;
    position: absolute;
}
#gabi {
    background: linear-gradient(100deg, #D78B59, #595FEB);
    padding: 200px 0;
}
h1{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin-left: 80px;
    margin-bottom: 30px;
}
.gabi1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.gabi-block {
    margin: 0 10px;
    width: 400px;
    height: 430px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7.5px);
}
.gabi-block h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 20px 0 10px 20px;
}
.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text div p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 20px;
}
.text button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 7px 5px;
    color: #FFFFFF;
    backdrop-filter: blur(7.5px);
    background: rgba(255, 255, 255, 0.02);


}
.btn {
    margin-right: 10px;
}
.gabi-block img {
    margin: 0 23px;
    width: 300px;
}
.text2 a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 20px 20px;
    position: absolute;
}
.btn2 button {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 465px;
    margin-top: 50px;
}

.class{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}
