#kurse{
  margin: 180px 0 50px 0;
}

.kurse h1{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
  margin: 0 0 60px 0;
}
.kurse-text{
  margin-left: 100px;
}
.kurse-text p{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
