.hero h1{
  font-style: normal;
  font-weight: 500;
  font-size: 27.8281px;
  color: #FFFFFF;
  opacity: 0.3;
}
.hero-block{
  width: 400px;
  height: 396px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.hero-block h1{
  margin: 25px 0 10px 0;
}
.hero-in{
  box-sizing: border-box;
  width: 360px;
  height: 40px;
  margin: 6px 20px;
  opacity: 0.3;
  border-radius: 10px;
  border: 2px solid white;
  padding-left: 15px;
}
.hero-btn{
  width: 360px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 15px 20px 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #6363DF;
  opacity: 0.3;
}
.hero-block a {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.3;
  padding-bottom: 20px;
}